/*--------------------------------------------------------------
    Search results
--------------------------------------------------------------*/

body.search {
	.site-main {
		margin: 0 auto;
		max-width: $size__site-post;
	}

	.hentry {
		margin-bottom: 40px;
	}
}
